<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <script src="../../resources/libs/jquery-2.1.3.min.js"></script>
    <script src="../../resources/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../resources/libs/angular.js"></script>
    <script src="../../resources/libs/js.cookie.js"></script>
    <script src="../../resources/libs/timepicker/1moment.min.js"></script>
    <script src="../../resources/libs/timepicker/bootstrap.min.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.templates.js"></script>
    <script src="../../resources/libs/timepicker/moment.min.js"></script>
    <script src="../../resources/libs/angular-file-upload.min.js"></script>
    <script src="../../resources/libs/evol-colorpicker.js"></script>
    <script src="../../resources/libs/huoyun.ui.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.full.min.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.min.js"></script>
    <script src="../../resources/libs/ng-file-upload.min.js"></script>
    <script src="../../resources/libs/ngDialog.min.js"></script>
    <script src="../../resources/libs/purl.js"></script>
    <script src="../../resources/libs/showdown.min.js"></script>
    <script src="../../resources/libs/svg.js"></script>
    <script src="../../resources/app/app.js"></script>
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/libs/evol-colorpicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/libs/huoyun.ui.css">
    <link rel="stylesheet" href="../../resources/libs/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog.min.css">
    <link rel="stylesheet" href="../../resources/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/datetimepicker.css">
    <link rel="stylesheet" href="../../resources/app/app.css">
    <!-- endinject -->

  </head>

  <body class="algorithm-detail-page" ng-controller="settingController">
    <div widgets-loading text="{{loadingText}}" show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="setting"></div>
    <div widgets-page>
      <div class="page-left">
        <div widgets-side-bar groups="sidebar" current-group="setting-general" current-item="algorithm-settings">
        </div>
      </div>
      <div class="page-right" ng-controller="algorithmDetailController">
        <div widgets-bread-crumb>
        </div>
        <div class="tools-bar">
          <div widgets-button text="新建标注属性" ng-click="onCreateTagsButtonClick()"></div>
          <div widgets-button text="新建场景属性" ng-click="onCreateViewTagsButtonClick()"></div>
          <div widgets-button text="新建颜色类别" ng-hide="algorithm.colorGroup" ng-click="onCreateColorButtonClick()"></div>
          <div widgets-button text="修改颜色类别" ng-show="algorithm.colorGroup" ng-click="onCreateColorButtonClick()"></div>
          <div widgets-button text="新建颜色属性" ng-show="algorithm.colorGroup" ng-click="onCreateColorTagButtonClick()"></div>
        </div>
        <div class="box">
          <div class="box-header">
            <i class="fa fa-file-o"></i>
            <span>详细信息</span>
          </div>
          <div class="box-content">
            <div class="property">
              <label class="key">算法名称</label>
              <div class="value">{{algorithm.name}}</div>
            </div>
            <div class="property">
              <label class="key">颜色类别名称</label>
              <div class="value">{{algorithm.colorGroup.name}}</div>
            </div>
          </div>
          <div class="box-header color-tag-list" ng-show="algorithm.colorGroup">
            <i class="fa fa-life-saver"></i>
            <span>颜色属性列表</span>
          </div>
          <div class="box-content" ng-show="algorithm.colorGroup">
            <div widgets-table columns="colorColumns" dataset="algorithm.colorGroup.tags" empty-text="你还没有添加颜色属性">
              <div cell-template column-index="1">
                <div class="color-block" style="background: {{cellData}};"></div>
              </div>
              <div cell-template column-index="2">
                <div widgets-link-button text="修改" ng-click="$superScope.onUpdateButtonClick(rowData)"></div>
                <div widgets-link-button text="删除" ng-click="$superScope.onDeleteButtonClick(rowData)"></div>
              </div>
            </div>
          </div>
          <div class="box-header task-tag-list">
            <i class="fa fa-tags"></i>
            <span>标注属性列表</span>
          </div>
          <div class="box-content">
            <div widgets-table columns="tagColumns" dataset="algorithm.tags" empty-text="你还没有添加属性">
              <div cell-template column-index="1">
                {{cellData | tagControlType}}
              </div>
              <div cell-template column-index="2">
                <div widgets-link-button text="查看" ng-click="$superScope.onViewTagButtonClicked(rowData)"></div>
                <div widgets-link-button text="修改" ng-click="$superScope.onEditTagButtonClicked(rowData)"></div>
                <div widgets-link-button text="删除" ng-click="$superScope.onDeleteTagButtonClicked(rowData)"></div>
              </div>
            </div>
          </div>
          <div class="box-header task-tag-list">
            <i class="fa fa-tags"></i>
            <span>场景属性列表</span>
          </div>
          <div class="box-content">
            <div widgets-table columns="viewTagColumns" dataset="algorithm.viewTags" empty-text="你还没有添加场景属性">
              <div cell-template column-index="1">
                <div widgets-link-button text="查看" ng-click="$superScope.onViewViewTagButtonClicked(rowData)"></div>
                <div widgets-link-button text="修改" ng-click="$superScope.onEditViewTagButtonClicked(rowData)"></div>
                <div widgets-link-button text="删除" ng-click="$superScope.onDeleteViewTagButtonClicked(rowData)"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div widgets-foot-bar></div>
  </body>

</html>