<div class="color-group-dialog">
  <div class="header-bar">
    <div class="header-bar-container">
      <i class="icon fa fa-info"></i>
      <span>角色设置</span>
    </div>
  </div>
  <div class="dialog-content">
    <div class="property writeable">
      <label class="key">角色</label>
      <div class="value">
        <select ng-model="role" ng-options="role.name as role.text for role in roles"></select>
      </div>
    </div>
  </div>
  <div class="dialog-tools-bar">
    <div class="dialog-tools-bar-container">
      <div widgets-button text="取消" huoyun-append-class="btn-gray" ng-click="closeThisDialog('cancel')"></div>
      <div widgets-button text="确定" ng-click="onSaveButtonClick()"></div>
    </div>
  </div>
</div>