.reason-setting-page th[name='op'] {
  width: 150px;
}

.reason-setting-page td[name='op'] .widgets-link-button {
  margin: 5px 10px 5px 0px;
  display: inline-block;
}

.reason-setting-page th[name='default'] {
  width: 100px;
}

.reason-setting-page th[name='default'] {
  text-align: center;
}

.reason-setting-page td[name='default'] {
  text-align: center;
  color: #1D8C73;
}