<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>

  <body class="view-tag-detail-page" ng-controller="settingController">
    <div widgets-loading text="{{loadingText}}" show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="setting"></div>
    <div widgets-page>
      <div class="page-left">
        <div widgets-side-bar groups="sidebar" current-group="setting-general" current-item="algorithm-settings">
        </div>
      </div>
      <div class="page-right" ng-controller="viewTagDetailController">
        <div widgets-bread-crumb>
        </div>
        <div class="tools-bar">
          <div widgets-button text="新建场景属性值" ng-click="onCreateViewTagsButtonClick()"></div>
        </div>
        <div class="box">
          <div class="box-header">
            <i class="fa fa-file-o"></i>
            <span>详细信息</span>
          </div>
          <div class="box-content">
            <div class="property">
              <label class="key">属性名称</label>
              <div class="value">{{viewTag.name}}</div>
            </div>
          </div>
          <div class="box-header color-tag-list">
            <i class="fa fa-life-saver"></i>
            <span>属性列表</span>
          </div>
          <div class="box-content">
            <div widgets-table columns="columns" dataset="viewTag.items" empty-text="你还没有添加场景属性">
              <div cell-template column-index="1">
                <!--<div widgets-link-button text="修改" ng-click="$superScope.onUpdateButtonClick(rowData)"></div>-->
                <div widgets-link-button text="删除" ng-click="$superScope.onDeleteButtonClick(rowData)"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div widgets-foot-bar></div>
  </body>

</html>