<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body class="asset-upload-page" ng-controller="baseTaskController">
    <div widgets-loading text="正在上传文件，请稍等..." show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="mytask"></div>
    <div widgets-page>
      <div class="page-left">
        <div widgets-side-bar groups="sidebar" current-group="task-management" current-item="upload-task-record">
        </div>
      </div>
      <div class="page-right" ng-controller="assetUploadController">
        <div widgets-bread-crumb>
        </div>
        <div class="box">
          <div class="box-header">
            <i class="fa fa-cloud-upload"></i>
            <span>新建上传</span>
          </div>
          <div class="box-content upload-form-container">
            <form>
              <div class="asset-upload-form">
                <div class="property writeable">
                  <label class="key">名称</label>
                  <div class="value">
                    <input ng-model="name" />
                  </div>
                </div>
                <div class="property writeable">
                  <label class="key">上传类型</label>
                  <div class="value">
                    <select ng-model="assetType" ng-options="item.name as item.text for item in videoTypes"></select>
                  </div>
                </div>
                <div class="property writeable" ng-show="assetType === 'PICTURE'">
                  <label class="key">选择要上传的图片</label>
                  <div class="value">
                    <input type="file" ngf-select ng-model="files" name="files" multiple="multiple" ng-hide="uploading" accept="image/*">
                    <div widgets-progress percent="{{file1.progress}}" ng-show="uploading"></div>
                  </div>
                </div>
                <div class="property writeable" ng-hide="assetType === 'PICTURE'">
                  <label class="key">选择上传的文件1</label>
                  <div class="value">
                    <input type="file" ngf-select ng-model="file1" name="file1" ng-hide="uploading" accept=".avi">
                    <div widgets-progress percent="{{file1.progress}}" ng-show="uploading"></div>
                  </div>
                </div>
                <div class="property writeable" ng-show="assetType === 'FOUR'">
                  <label class="key">选择上传的文件2</label>
                  <div class="value">
                    <input type="file" ngf-select ng-model="file2" name="file2" ng-hide="uploading" accept=".avi">
                    <div widgets-progress percent="{{file2.progress}}" ng-show="uploading"></div>
                  </div>
                </div>
                <div class="property writeable" ng-show="assetType === 'FOUR'">
                  <label class="key">选择上传的文件3</label>
                  <div class="value">
                    <input type="file" ngf-select ng-model="file3" name="file3" ng-hide="uploading" accept=".avi">
                    <div widgets-progress percent="{{file3.progress}}" ng-show="uploading"></div>
                  </div>
                </div>
                <div class="property writeable" ng-show="assetType === 'FOUR'">
                  <label class="key">选择上传的文件4</label>
                  <div class="value">
                    <input type="file" ngf-select ng-model="file4" name="file4" ng-hide="uploading" accept=".avi">
                    <div widgets-progress percent="{{file4.progress}}" ng-show="uploading"></div>
                  </div>
                </div>
                <div ng-repeat="viewTag in viewTags">
                  <div class="property writeable">
                    <label class="key">{{viewTag.name}}</label>
                    <div class="value">
                      <select ng-model="viewTagsMap[viewTag.id]" ng-options="tagItem.id as tagItem.name for tagItem in viewTag.items">
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--<div class="property writeable">
                  <label class="key">路况属性</label>
                  <div class="value">
                    <select ng-model="roadTag" ng-options="tag.id as tag.name for tag in roadTags"></select>
                  </div>
                </div>
                <div class="property writeable">
                  <label class="key">天气属性</label>
                  <div class="value">
                    <select ng-model="weatherTag" ng-options="tag.id as tag.name for tag in weatherTags"></select>
                  </div>
                </div>-->
                <div class="property writeable">
                  <label class="key">视频录制时间</label>
                  <div class="value">
                    <div class="dropdown">
                      <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                          <input type="text" class="form-control" readonly value="{{recordTime | date:'yyyy-MM-dd HH:mm' }}">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="recordTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minuteStep:1 }" />
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="property writeable">
                  <label class="key">备注</label>
                  <div class="value">
                    <textarea ng-model="memo"></textarea>
                  </div>
                </div>
                <div class="tools-bar">
                  <div widgets-button text="上传" ng-click="onUploadButtonClicked(files,file1,file2,file3,file4)"></div>
                  <div widgets-button text="取消" huoyun-append-class="btn-gray" ng-click="onCancelClicked()"></div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div widgets-foot-bar></div>
  </body>

</html>