<div class="asset-tag-update-dialog">
  <div class="header-bar">
    <div class="header-bar-container">
      <i class="icon fa fa-info"></i>
      <span>设置视频属性</span>
    </div>
  </div>
  <div class="dialog-content">
    <div class="property writeable">
      <label class="key">天气属性</label>
      <div class="value">
        <select ng-model="weatherTag" ng-options="tag as tag.name for tag in weatherTags"></select>
      </div>
    </div>
    <div class="property writeable">
      <label class="key">路况属性</label>
      <div class="value">
        <select ng-model="roadTag" ng-options="tag as tag.name for tag in roadTags"></select>
      </div>
    </div>
  </div>
  <div class="dialog-tools-bar">
    <div class="dialog-tools-bar-container">
      <div widgets-button text="取消" huoyun-append-class="btn-gray" ng-click="closeThisDialog('cancel')"></div>
      <div widgets-button text="确定" ng-click="onSaveButtonClick()"></div>
    </div>
  </div>
</div>