<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <script src="../../resources/libs/jquery-2.1.3.min.js"></script>
    <script src="../../resources/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../resources/libs/angular.js"></script>
    <script src="../../resources/libs/js.cookie.js"></script>
    <script src="../../resources/libs/timepicker/1moment.min.js"></script>
    <script src="../../resources/libs/timepicker/bootstrap.min.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.templates.js"></script>
    <script src="../../resources/libs/timepicker/moment.min.js"></script>
    <script src="../../resources/libs/angular-file-upload.min.js"></script>
    <script src="../../resources/libs/evol-colorpicker.js"></script>
    <script src="../../resources/libs/huoyun.ui.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.full.min.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.min.js"></script>
    <script src="../../resources/libs/ng-file-upload.min.js"></script>
    <script src="../../resources/libs/ngDialog.min.js"></script>
    <script src="../../resources/libs/purl.js"></script>
    <script src="../../resources/libs/showdown.min.js"></script>
    <script src="../../resources/libs/svg.js"></script>
    <script src="../../resources/app/app.js"></script>
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/libs/evol-colorpicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/libs/huoyun.ui.css">
    <link rel="stylesheet" href="../../resources/libs/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog.min.css">
    <link rel="stylesheet" href="../../resources/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/datetimepicker.css">
    <link rel="stylesheet" href="../../resources/app/app.css">
    <!-- endinject -->
  </head>

  <body class="video-mark-page" ng-controller="markVideoController">
    <div widgets-cursor classes=".video-marker-container" show="showCursor"></div>
    <div widgets-loading text="正在保存，请稍等..." show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="home"></div>
    <div widgets-page ng-if="taskRecord">
      <div widgets-bread-crumb>
      </div>
      <div class="section">
        <div class="section-header">
          <i class="fa fa-file-video-o"></i><span>任务详细信息</span>
          <div class="section-action-bar">

          </div>
        </div>
        <div class="section-content task-detail-section">
          <div class="property">
            <label class="key">任务编号</label>
            <div class="value">{{taskRecord.taskItem.taskItemNo}}</div>
          </div>
          <div class="property">
            <label class="key">任务名称</label>
            <div class="value">{{taskRecord.taskItem | taskFullName}}</div>
          </div>
          <div class="property">
            <label class="key">任务类型</label>
            <div class="value">{{taskRecord.taskItem.taskType | taskType}}</div>
          </div>
          <div class="property">
            <label class="key">标记类型</label>
            <div class="value">{{taskRecord.taskItem.shapeType | shapeType}}</div>
          </div>
          <div class="property">
            <label class="key">状态</label>
            <div class="value">{{taskRecord.status| taskRecordStatus}}</div>
          </div>
          <div ng-repeat="viewTag in taskRecord.taskItem.viewTags">
            <div class="property">
              <label class="key">{{viewTag.viewTag.name}}</label>
              <div class="value">{{viewTag.viewTagItem.name}}</div>
            </div>
          </div>
          <div ng-if="reviewRecord && reviewRecord.status === 'FAILED'">
            <div class="property">
              <label class="key">审核失败次数</label>
              <div class="value">{{reviewRecord.subtotal}}</div>
            </div>
            <div class="property">
              <label class="key">最后一次审核失败原因</label>
              <div class="value">{{reviewRecord.reason.description}}</div>
            </div>
          </div>
          <!--<div class="property">
            <label class="key">天气属性</label>
            <div class="value">{{taskRecord.taskItem.weatherTag.name}}</div>
          </div>
          <div class="property">
            <label class="key">路况属性</label>
            <div class="value">{{taskRecord.taskItem.roadTag.name}}</div>
          </div>-->
        </div>
      </div>
      <div class="section xx-section" id="mark" can-mark="{{canContinueMark()}}">
        <div class="tools-bar">
          <div widgets-button text="上一个任务" huoyun-append-class="pervious-button" ng-click="onPreviousButtonClick(taskRecord.previousTaskRecord)" ng-disabled="!taskRecord.previousTaskRecord"></div>
          <div widgets-button text="下一个任务" huoyun-append-class="next-button" ng-click="onNextButtonClick(taskRecord.nextTaskRecord)" ng-disabled="!taskRecord.nextTaskRecord"></div>
        </div>
        <div class="section-header">
          <i class="fa fa-file-video-o"></i><span>图片标记信息</span>
          <div class="section-action-bar">
            <div widgets-checkbox ng-model="showCursor" on-checked="onCursorChecked()" on-unchecked="onCursorUnChecked()" huoyun-append-class="mark-checkbox" content="启用十字光标"></div>
            <div widgets-button text="设置场景属性" ng-click="onViewTagButtonClick()"></div>
            <div widgets-button text="开始审核" ng-click="onStartReviewClick()" ng-if="canReview" ng-show="taskRecord.status === 'WAITTING'"></div>
            <div widgets-button text="审核通过" ng-click="onReviewPassClick()" ng-if="canReview" ng-show="taskRecord.status === 'REVIEWING' || taskRecord.status === 'REJECTED'"></div>
            <div widgets-button text="审核失败" ng-click="onReviewFailClick()" ng-if="canReview" ng-show="taskRecord.status === 'REVIEWING' || taskRecord.status === 'ACCEPTED'"></div>
            <div widgets-button text="提交" ng-click="onSubmitClick()" ng-hide="taskRecord.status === 'ACCEPTED' || taskRecord.status === 'REVIEWING' || taskRecord.status === 'WAITTING'"></div>
            <div widgets-button text="保存" ng-click="onSaveClick()"></div>
          </div>
        </div>
        <div class="section-content video-marker-box">
          <div widgets-svg-bar tags="tags" is-single="true" shapes-box="tempShapes" shapes="shapes" frame-index="video.currentFrame()" current="current" side-count="taskRecord.taskItem.sideCount" type="taskRecord.taskItem.shapeType"></div>
          <div widgets-mark-info-bar tags="tags" color-group="colorGroup" mark-info="current"></div>
          <div class="container">
            <div class="video-marker-container">
              <div widgets-video-player src="taskItemFile.path" shapes="shapes" video="video" frame-index="video.currentFrame()"></div>
            </div>
            <div widgets-player-bar control-bar="videoControlBar"></div>
          </div>
        </div>
      </div>
      <div class="tools-bar">
        <div widgets-button text="上一个任务" huoyun-append-class="pervious-button" ng-click="onPreviousButtonClick(taskRecord.previousTaskRecord)" ng-disabled="!taskRecord.previousTaskRecord"></div>
        <div widgets-button text="下一个任务" huoyun-append-class="next-button" ng-click="onNextButtonClick(taskRecord.nextTaskRecord)" ng-disabled="!taskRecord.nextTaskRecord"></div>
      </div>
    </div>

    <div widgets-foot-bar></div>
  </body>

</html>