<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <script src="../../resources/libs/jquery-2.1.3.min.js"></script>
    <script src="../../resources/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../resources/libs/angular.js"></script>
    <script src="../../resources/libs/js.cookie.js"></script>
    <script src="../../resources/libs/timepicker/1moment.min.js"></script>
    <script src="../../resources/libs/timepicker/bootstrap.min.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.js"></script>
    <script src="../../resources/libs/timepicker/datetimepicker.templates.js"></script>
    <script src="../../resources/libs/timepicker/moment.min.js"></script>
    <script src="../../resources/libs/angular-file-upload.min.js"></script>
    <script src="../../resources/libs/evol-colorpicker.js"></script>
    <script src="../../resources/libs/huoyun.ui.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.full.min.js"></script>
    <script src="../../resources/libs/jquery.datetimepicker.min.js"></script>
    <script src="../../resources/libs/ng-file-upload.min.js"></script>
    <script src="../../resources/libs/ngDialog.min.js"></script>
    <script src="../../resources/libs/purl.js"></script>
    <script src="../../resources/libs/showdown.min.js"></script>
    <script src="../../resources/libs/svg.js"></script>
    <script src="../../resources/app/app.js"></script>
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/libs/evol-colorpicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/libs/huoyun.ui.css">
    <link rel="stylesheet" href="../../resources/libs/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="../../resources/libs/ngDialog.min.css">
    <link rel="stylesheet" href="../../resources/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/libs/timepicker/datetimepicker.css">
    <link rel="stylesheet" href="../../resources/app/app.css">
    <!-- endinject -->
  </head>

  <body class="video-four-mark-page" ng-controller="markFourVideoController">
    <div widgets-cursor classes=".video-player-container-1;.video-player-container-2;.video-player-container-3;.video-player-container-4" show="showCursor"></div>
    <div widgets-loading text="正在保存，请稍等..." show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="home"></div>
    <div widgets-page ng-if="taskRecord">
      <div widgets-bread-crumb>
      </div>
      <div class="section">
        <div class="section-header">
          <i class="fa fa-file-video-o"></i><span>任务详细信息</span>
          <div class="section-action-bar">
           
          </div>
        </div>
        <div class="section-content task-detail-section">
          <div class="property">
            <label class="key">任务编号</label>
            <div class="value">{{taskRecord.taskItem.taskItemNo}}</div>
          </div>
          <div class="property">
            <label class="key">任务名称</label>
            <div class="value">{{taskRecord.taskItem | taskFullName}}</div>
          </div>
          <div class="property">
            <label class="key">任务类型</label>
            <div class="value">{{taskRecord.taskItem.taskType | taskType}}</div>
          </div>
          <div class="property">
            <label class="key">标记类型</label>
            <div class="value">{{taskRecord.taskItem.shapeType | shapeType}}</div>
          </div>
          <div class="property">
            <label class="key">状态</label>
            <div class="value">{{taskRecord.status| taskRecordStatus}}</div>
          </div>
          <div ng-repeat="viewTag in taskRecord.taskItem.viewTags">
            <div class="property">
              <label class="key">{{viewTag.viewTag.name}}</label>
              <div class="value">{{viewTag.viewTagItem.name}}</div>
            </div>
          </div>
          <div ng-if="reviewRecord && reviewRecord.status === 'FAILED'">
            <div class="property">
              <label class="key">审核失败次数</label>
              <div class="value">{{reviewRecord.subtotal}}</div>
            </div>
            <div class="property">
              <label class="key">最后一次审核失败原因</label>
              <div class="value">{{reviewRecord.reason.description}}</div>
            </div>
          </div>
          <!--<div class="property">
            <label class="key">天气属性</label>
            <div class="value">{{taskRecord.taskItem.weatherTag.name}}</div>
          </div>
          <div class="property">
            <label class="key">路况属性</label>
            <div class="value">{{taskRecord.taskItem.roadTag.name}}</div>
          </div>-->
        </div>
      </div>
      <div class="section xx-section" id="mark" can-mark="{{canContinueMark()}}">
        <div class="tools-bar">
          <div widgets-button text="上一个任务" huoyun-append-class="pervious-button" ng-click="onPreviousButtonClick(taskRecord.previousTaskRecord)" ng-disabled="!taskRecord.previousTaskRecord"></div>
          <div widgets-button text="下一个任务" huoyun-append-class="next-button" ng-click="onNextButtonClick(taskRecord.nextTaskRecord)" ng-disabled="!taskRecord.nextTaskRecord"></div>
        </div>
        <div class="section-header">
          <i class="fa fa-file-video-o"></i><span>视频标记信息</span>
          <div class="section-action-bar">
            <div widgets-checkbox ng-model="showCursor" on-checked="onCursorChecked()" on-unchecked="onCursorUnChecked()" huoyun-append-class="mark-checkbox" content="启用十字光标"></div>
             <div widgets-button text="设置场景属性" ng-click="onViewTagButtonClick()"></div>
            <div widgets-button text="开始审核" ng-click="onStartReviewClick()" ng-if="canReview" ng-show="taskRecord.status === 'WAITTING'"></div>
            <div widgets-button text="审核通过" ng-click="onReviewPassClick()" ng-if="canReview" ng-show="taskRecord.status === 'REVIEWING' || taskRecord.status === 'REJECTED' "></div>
            <div widgets-button text="审核失败" ng-click="onReviewFailClick()" ng-if="canReview" ng-show="taskRecord.status === 'REVIEWING' || taskRecord.status === 'ACCEPTED' "></div>
            <div widgets-button text="提交" ng-click="onSubmitClick()" ng-hide="taskRecord.status === 'ACCEPTED' || taskRecord.status === 'REVIEWING' || taskRecord.status === 'WAITTING'"></div>
            <div widgets-button text="保存" ng-click="onSaveClick()"></div>
          </div>
        </div>
        <div class="section-content four-video-marker-box">
          <table class="four-video-table">
            <tbody>
              <tr>
                <td class="video-column">
                  <div class="video-item-container">
                    <div class="video-player-container video-player-container-1">
                      <div widgets-video-player src="taskItemFile1.path" shapes="shapes1" video="video1" frame-index="video1.currentFrame()"></div>
                    </div>
                    <div class="mark-tools-container">
                      <div widgets-svg-bar tags="tags" shapes-box="tempShapes1" name-selected="nameSelected" names="names1" shapes="shapes1" frame-index="video1.currentFrame()" on-selected-shape-changed="onShape1SelectedChanged(shape)" side-count="taskRecord.taskItem.sideCount" type="taskRecord.taskItem.shapeType" on-shape-object-copyed="onShape1ObjectCopy(shape)"></div>
                    </div>
                  </div>
                </td>
                <td class="video-column">
                  <div class="video-item-container">
                    <div class="video-player-container video-player-container-2">
                      <div widgets-video-player src="taskItemFile2.path" shapes="shapes2" video="video2" frame-index="video2.currentFrame()"></div>
                    </div>
                    <div class="mark-tools-container">
                      <div widgets-svg-bar tags="tags" shapes-box="tempShapes2" name-selected="nameSelected" names="names2" on-selected-shape-changed="onShape2SelectedChanged(shape)" shapes="shapes2" frame-index="video2.currentFrame()" on-shape-object-copyed="onShape2ObjectCopy(shape)" side-count="taskRecord.taskItem.sideCount" type="taskRecord.taskItem.shapeType"></div>
                    </div>
                  </div>
                </td>
                <td rowspan="2" class="info-row">
                  <div widgets-mark-info-bar tags="tags" on-color-changed="onColorSelectedChanged(colorTag)" color-group="colorGroup" mark-info="currentSelected"></div>
                </td>
              </tr>
              <tr>
                <td class="video-column">
                  <div class="video-item-container">
                    <div class="video-player-container video-player-container-3">
                      <div widgets-video-player src="taskItemFile3.path" shapes="shapes3" video="video3" frame-index="video3.currentFrame()"></div>
                    </div>
                    <div class="mark-tools-container">
                      <div widgets-svg-bar tags="tags" shapes-box="tempShapes3" shapes="shapes3" name-selected="nameSelected" names="names3" frame-index="video3.currentFrame()" on-selected-shape-changed="onShape3SelectedChanged(shape)" side-count="taskRecord.taskItem.sideCount" on-shape-object-copyed="onShape3ObjectCopy(shape)" type="taskRecord.taskItem.shapeType"></div>
                    </div>
                  </div>
                </td>
                <td class="video-column">
                  <div class="video-item-container">
                    <div class="video-player-container video-player-container-4">
                      <div widgets-video-player src="taskItemFile4.path" shapes="shapes4" video="video4" frame-index="video4.currentFrame()"></div>
                    </div>
                    <div class="mark-tools-container">
                      <div widgets-svg-bar tags="tags" shapes-box="tempShapes4" shapes="shapes4" name-selected="nameSelected" names="names4" on-selected-shape-changed="onShape4SelectedChanged(shape)" frame-index="video4.currentFrame()" on-shape-object-copyed="onShape4ObjectCopy(shape)" side-count="taskRecord.taskItem.sideCount" type="taskRecord.taskItem.shapeType"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="play-bar-row">
                  <div widgets-player-bar control-bar="videoControlBar"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tools-bar">
        <div widgets-button text="上一个任务" huoyun-append-class="pervious-button" ng-click="onPreviousButtonClick(taskRecord.previousTaskRecord)" ng-disabled="!taskRecord.previousTaskRecord"></div>
        <div widgets-button text="下一个任务" huoyun-append-class="next-button" ng-click="onNextButtonClick(taskRecord.nextTaskRecord)" ng-disabled="!taskRecord.nextTaskRecord"></div>
      </div>
    </div>

    <div widgets-foot-bar></div>
  </body>

</html>