<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body class="forget-password-info-page">
    <div widgets-top-bar></div>
    <div widgets-nav></div>
    <div widgets-page>
      <div class="box box-form" ng-controller="forgetPasswordInfoController">
        <div class="box-header">
          <i class="fa fa-user color-gray"></i>
          <span class="color-gray">忘记密码</span>
          <span class="char-sepector">/</span>
          <i class="fa fa-envelope color-highligth"></i>
          <span class="color-highligth">邮件发送成功</span>
          <span class="char-sepector">/</span>
          <i class="fa fa-child color-gray"></i>
          <span class="color-gray">重置密码</span>
        </div>
        <div class="box-content">
          <div class="active-message ">
            <i class="fa fa-check-circle result-icon "></i>
            <span>重置密码邮件已经发送到</span><span class="email-account ">{{email}}</span><span>，请前去您的邮件点击链接，重置密码，该链接在24小时内失效。</span>
          </div>
        </div>
      </div>
    </div>

    <div widgets-foot-bar></div>
  </body>

</html>