<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body class="forget-reset-password-page">
    <div widgets-loading text="正在保存,请稍后..." show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav></div>
    <div widgets-page>
      <div class="box box-form" ng-controller="forgetResetPasswordController">
        <div class="box-header">
          <i class="fa fa-user color-gray"></i>
          <span class="color-gray">忘记密码</span>
          <span class="char-sepector">/</span>
          <i class="fa fa-envelope color-gray"></i>
          <span class="color-gray">邮件发送成功</span>
          <span class="char-sepector">/</span>
          <i class="fa fa-child color-highligth"></i>
          <span class="color-highligth">重置密码</span>
        </div>
        <div class="box-content">
          <div class="property writeable">
            <label class="key">密码</label>
            <div class="value">
              <input type="password" ng-model="password" />
            </div>
          </div>
          <div class="property writeable">
            <label class="key">重复密码</label>
            <div class="value">
              <input type="password" ng-model="repeatPassword" />
            </div>
          </div>
          <div widgets-button text="重置" huoyun-append-class="form-submit-button" ng-click="onSubmit()"></div>
        </div>
      </div>
    </div>

    <div widgets-foot-bar></div>
  </body>

</html>