<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>

  <body class="user-point-page" ng-controller="baseTaskController">
    <div widgets-loading text="{{loadingText}}" show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="mytask"></div>
    <div widgets-page>
      <div ng-controller="payDetailController">
        <div class="page-left">
          <div widgets-side-bar groups="sidebar" current-group="user-profile" current-item="point-approve-list">
          </div>
        </div>
        <div class="page-right">
          <div widgets-bread-crumb>
          </div>
          <div class="tools-bar">
            <div widgets-button text="支付" ng-click="onPayButtonClick()" ng-show="pay.status === 'PENDING'"></div>
          </div>
          <div class="box">
            <div class="box-header">
              <i class="fa fa-money"></i>
              <span>详细信息</span>
            </div>
            <div class="box-content">
              <div class="property writeable">
                <label class="key">申请人</label>
                <div class="value">
                  {{pay.userName}}
                </div>
              </div>
              <div class="property writeable">
                <label class="key">提现金额</label>
                <div class="value">
                  {{pay.point}}
                </div>
              </div>
              <div class="property writeable">
                <label class="key">申请时间</label>
                <div class="value">
                  {{pay.createTime | joda | date:'yyyy-MM-dd HH:mm'}}
                </div>
              </div>
              <div class="property writeable">
                <label class="key">状态</label>
                <div class="value">
                  {{pay.status | payStatus}}
                </div>
              </div>
              <div class="property writeable" ng-show="pay.status === 'PAYED'">
                <label class="key">支付交易号</label>
                <div class="value">
                  {{pay.transcationNo}}
                </div>
              </div>
              <div class="property writeable" ng-show="pay.status === 'PAYED'">
                <label class="key">支付交易时间</label>
                <div class="value">
                  {{pay.payTime | joda | date:'yyyy-MM-dd HH:mm'}}
                </div>
              </div>
              <div class="property writeable" ng-show="pay.status === 'PAYED'">
                <label class="key">备注</label>
                <div class="value">
                  {{pay.memo}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div widgets-foot-bar></div>
  </body>

</html>