<!DOCTYPE html>
<html ng-app="zongmu" ng-controller="appController">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../../resources/imgs/favicon.ico" />
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>

  <body class="user-profile-page" ng-controller="baseTaskController">
    <div widgets-loading text="{{loadingText}}" show="loading"></div>
    <div widgets-top-bar></div>
    <div widgets-nav current="mytask"></div>
    <div widgets-page>
      <div ng-controller="profileController">
        <div class="page-left">
          <div widgets-side-bar groups="sidebar" current-group="user-profile" current-item="user-profile">
          </div>
        </div>
        <div class="page-right">
          <div widgets-bread-crumb>
          </div>
          <div class="box">
            <div class="box-header">
              <i class="fa fa-user"></i>
              <span>基本信息</span>
            </div>
            <div class="box-content">
              <div class="property writeable">
                <label class="key">邮箱</label>
                <div class="value">
                  {{user.email}}
                </div>
              </div>
              <div class="property writeable">
                <label class="key">用户名</label>
                <div class="value">
                  <input type="text" ng-model="user.userName" />
                </div>
              </div>
              <div class="property writeable">
                <label class="key">性别</label>
                <div class="value">
                  <select ng-model="user.sex" ng-options="item.name as item.text for item in sexes"></select>
                </div>
              </div>
            </div>

            <div class="box-header">
              <i class="fa fa-credit-card"></i>
              <span>账户信息</span>
            </div>
            <div class="box-content">
              <div class="property writeable">
                <label class="key">支付宝账户</label>
                <div class="value">
                  <input type="text" ng-model="user.alipayAccount" />
                </div>
              </div>
            </div>
            <div class="box-header">
              <i class="fa fa-paper-plane"></i>
              <span>联系方式</span>
            </div>
            <div class="box-content">
              <div class="property writeable">
                <label class="key">手机号</label>
                <div class="value">
                  <input type="text" ng-model="user.phone" />
                </div>
              </div>
              <div class="property writeable">
                <label class="key">QQ</label>
                <div class="value">
                  <input type="text" ng-model="user.qq" />
                </div>
              </div>
              <div class="property writeable">
                <label class="key">微信号</label>
                <div class="value">
                  <input type="text" ng-model="user.wechat" />
                </div>
              </div>
              <div class="tools-bar">
                <div widgets-button text="保存" ng-click="onSaveButtonClicked()"></div>
                <div widgets-button text="取消" huoyun-append-class="btn-gray" ng-click="onCancelClicked()"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div widgets-foot-bar></div>
  </body>

</html>