.user-register-info-page .result-icon {
  height: 50px;
  line-height: 50px;
  font-size: 38px;
  color: #1FA67A;
}

.user-register-info-page .email-account{
  font-size: 16px;
  color: black;
  font-weight: 400;
}
