.video-four-mark-page .section-content {
  height: 685px;
}

.video-four-mark-page .task-detail-section {
  height: auto;
}

.widgets-svg-bar .svg-bar-container .widgets-button {
  min-width: 30px;
  font-size: 12px;
  padding: 0 5px;
}

.video-four-mark-page .four-video-marker-box {
  margin: 0 -150px;
  margin-top: 10px;
}

.video-four-mark-page .four-video-table td {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.video-four-mark-page .four-video-table .video-item-container {
  clear: both;
}

.video-four-mark-page .four-video-table .video-item-container .video-player-container {
  width: 420px;
  height: 285px;
  float: left;
  margin: 2px 0px 2px 0px;
}

.video-four-mark-page .four-video-table .video-item-container .mark-tools-container {
  background: aliceblue;
  float: right;
  height: 285px;
  width: 125px;
  margin: 2px 2px 2px 0px;
}

.video-four-mark-page .four-video-table .info-row {
  width: 200px;
}

.video-four-mark-page .four-video-table .video-column {
  width: 550px;
}

.video-four-mark-page .four-video-table .mark-tools-container .widgets-svg-bar {
  width: 100%;
  height: 100%;
}

.video-four-mark-page .four-video-table .play-bar-row {
  border: 1px solid #1D8C73;
}

.video-four-mark-page .four-video-table .widgets-mark-info-bar {
  height: 100%;
  max-height: 570px;
}

.video-four-mark-page .four-video-table .widgets-mark-info-bar .property-info-container {
  height: 100%;
}

.video-four-mark-page .tools-bar .pervious-button {
  width: 200px;
}

.video-four-mark-page .tools-bar .next-button {
  width: 200px;
  float: right;
}

.video-four-mark-page .xx-section[can-mark="false"] .svg-bar-container {
  display: none;
}

.video-four-mark-page .xx-section[can-mark="false"] .widgets-mark-info-bar * {
  display: none;
}

.video-four-mark-page .xx-section[can-mark="false"] .section-action-bar {
  display: none;
}