<div class="widgets-dialog-show" level="{{ngDialogData.level}}">
  <div class="header-bar">
    <div class="header-bar-container">
      <i class="icon fa fa-info" ng-if="ngDialogData.level === 'info'"></i>
      <i class="icon fa fa-exclamation-triangle" ng-if="ngDialogData.level === 'warn'"></i>
      <i class="icon fa fa-exclamation-circle" ng-if="ngDialogData.level === 'error'"></i> 
      <span>{{ngDialogData.title}}</span>
    </div>
  </div>
  <div class="dialog-content">
    {{ngDialogData.message}}
  </div>
  <div class="dialog-tools-bar">
    <div class="dialog-tools-bar-container">
      <div widgets-button text="确定" ng-click="closeThisDialog('ok')"></div>
    </div>
  </div>
</div>